html {
	margin: 0;
	padding: 0;
	}
body {
    background: linear-gradient(to bottom, #0b011c 0%, #0b0f3b 100%);
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #fffdbd; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	color: #fffdbd;
	}
h1 {
	{ font-family: Perpetua; font-size: 24px; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; 
	color: #fffdbd;
	}
	margin-top: 0;
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #fffdbd;
	}
div {

}
