html {
	margin: 0;
	padding: 0;
	}
body {
 background: #0a0014;
 background: radial-gradient(circle, rgba(10, 0, 20, 1) 1%, rgba(10, 29, 84, 1) 50%, rgba(196, 20, 152, 1) 100%);
	margin: 0; 
	padding: 0;
	}
p { 
	font-family: Perpetua; font-size: 24px; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: center;
	color: #fffdbd;
	}
h1 {
	{ 
	font-family: Perpetua; font-size: 24px; 
	font-style: bold; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: center;
	color: #fffdbd;
	margin-top: 0;
	}
	
h2 {
	font-family: Perpetua; font-size: 18px; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: center;
	color: #fffdbd;
   }
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #fffdbd;
	text-align: center;
	}
div {

}
