<!DOCTYPE html>
html {
	margin: 0;
	padding: 0;
	}
body {
  background-color: #03010d;
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
