html {
	margin: 0;
	padding: 0;
	}
body {
	font: 90% Perpetua, sans-serif;
	line-height: 1.88889;
	color: #fffdbd;
	background: #0a0014;
	background: linear-gradient(180deg, rgba(10, 0, 20, 1) 1%, rgba(10, 29, 84, 1) 50%, rgba(74, 4, 56, 1) 100%);
	margin: 0; 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	}
p { 
	font-family: Perpetua; font-size: 24px; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: center;
	color: #fffdbd;
	}
h1 {
	font-family: Perpetua; font-size: 24px; 
	font-style: bold; 
	line-height: 26.4px;
	text-align: center;
	color: #fffdbd;
	margin-top: 0;
	}
	
h2 {
	font-family: Perpetua; font-size: 18px; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: center;
	color: #fffdbd;
   }
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #fffdbd;
	text-align: center;
	}
div {

}
